@namespace IbbDownloadService.Components
@inject IJSRuntime JSRuntime

<dialog id="@ModalId">
    <h2>@ModalTitle</h2>
    @ChildContent
    <button @onclick="()=>IsOpen = false" aria-label="close" class="x">❌</button>
</dialog>


@code {
    private bool _isOpen = false;

    [Parameter]
    public bool IsOpen
    {
        get => _isOpen;
        set
        {
            if(_isOpen == value) return;
            _isOpen = value;
            JSRuntime.InvokeVoidAsync(value ? "window.showDialog" : "window.closeDialog", ModalId);
            IsOpenChanged.InvokeAsync(value);
        }
    }

    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter] public string ModalId { get; set; } = "dialog";

    [Parameter] public string ModalTitle { get; set; } = "Modal Title";

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string CloseAction => $"window.{ModalId}.close();";
}