@namespace IbbDownloadService.Components

<div class='main'>
    <div class="tableTitle">@Title</div>
    <table class="heavyTable">
        <thead>
        <tr>
            @foreach (var header in Header)
            {
                <th>@header</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var row in Rows)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";

    [Parameter] public string[] Header { get; set; } = [];

    [Parameter] public IList<string[]> Rows { get; set; } = new List<string[]>();
}