@using IbbDownloadService.NugetModule.Contracts.Events
@using IbbDownloadService.NugetModule.Contracts.Queries
@using MediatR
@namespace IbbDownloadService.Components

<Table Rows="_verifiedRows" Header="_verifiedHeader" Title="Verified"></Table>

@inject IMediator Mediator
@inject NugetUpdatedEvent NugetUpdatedEvent
@code {

    private readonly Table.TableHeader[] _verifiedHeader =
    [
        new ("Id") {IsVisible = false},
        new("Name"),
        new("Added"),
        new("Version"),
        new("Verified"),
        new("Downloaded")
    ];
    private List<string[]> _verifiedRows = new();

    private async Task LoadVerifiedNugets()
    {
        var verifiedResult = await Mediator.Send(new GetVerifiedNugetsQuery());
        _verifiedRows = verifiedResult.Select(n => new[] {n.Id.ToString(), n.Name, n.CreatedAt.ToString("dd.MM.yyyy"), n.Version, n.VerifiedAt?.ToString("dd.MM.yyyy") ?? "", n.DownloadedAt?.ToString("dd.MM.yyyy") ?? "" }).ToList();
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadVerifiedNugets();
        NugetUpdatedEvent.OnNugetUpdated += LoadVerifiedNugets;
    }
    

}